:root{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

main{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

h1{
    font-weight: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

header{
    background: green;
    width: 100%;
    gap: 3rem;
    padding: 1.5rem;
}

header a{
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-inline: 5rem;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    color: green;
    font-weight: 3rem;
}

.KB{
    display: grid;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

img{
    width: 350px;
    height: 300px;
}
