:root {
    --alapszin: rgb(0, 140, 100);
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--alapszin);
    font-size: 3rem;
    padding: 0.5rem;
}

.header {
    background-color: var(--alapszin);
    padding: 1rem;
}

.header a {
    text-decoration: none;
    color: white;
    padding-inline: 1rem;
}

.indexcucc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 1rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.kepek {
    margin: 2rem;
    margin-top: 0;
}

.kepek img {
    height: 150px;
    width: 300px;
    border: 1px solid gray;
    border-style: double;
    border-radius: 5px;
    position: relative;
    left: 7.5rem;
}

.footer {
    color: var(--alapszin);
    text-align: center;
    margin-bottom: 1rem;
}